*.swp
target/*
lib*
*.orig
*jar
.idea
.lein-failures
dc-sdk.log
.classpath
.lein-deps-sum
.lein-plugins/
.project
bin/
.settings/
.lein-env
.lein-repl-history
.midje.clj
.lein-repl-history
ec2_amazon-ebs.pem
xxx*
rrr*
sss*
.nrepl-port
pom.xml
release_version.properties
ditto/*
